<table>
    {% for acl in acls %}
        <tr id="acl_row_{{ acl.id }}">
            <td>
                {{ acl.user.username }}
            </td>
            <td>
                {{ acl.creation_date | date('d-m-Y') }}
            </td>
            <td>
                <a class="btnRemoveUser" data-id="{{ acl.id }}"><i class="fa fa-times"></i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No users found</td>
        </tr>
    {% endfor %}
</table>
{% if pagination is not null %}
    <div class="navigation">
        {{ knp_pagination_render(pagination,'ATMBoardBundle:Board:acl_users_pagination.html.twig') }}
    </div>
{% endif %}