<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block atm_board_title %}ATM Board Bundle{% endblock atm_board_title %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Distribution" content="Global" />
        <meta name="Rating" content="Mature" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('bundles/atmboard/fonts/lato.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmboard/fonts/quicksand.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmboard/fonts/leaguespartan.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmboard/css/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmboard/plugins/bootstrap/modal/modal.css') }}" type="text/css"/>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/atmemojis/css/emojis.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/atmcomment/css/comments.css') }}" type="text/css" />
        <link href="{{ asset('bundles/atmboard/css/css.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/atmboard/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('bundles/atmemojis/js/jquery.emojis.js') }}"></script>
        {% block atm_board_stylesheets %}{% endblock atm_board_stylesheets %}
        {% block atm_board_headingJS %}{% endblock atm_board_headingJS %}
    </head>
    <body class="atm_board">
    {% block atm_flash_messages %}{% endblock atm_flash_messages %}
    <div class="atm_board_loader" style="display: none"><img src="{{ asset('bundles/atmboard/images/loader.png') }}"></div>
        <div class="inner">
            {% block atm_board_content %}{% endblock atm_board_content %}
        </div>
        {% block atm_board_popups %}{% endblock atm_board_popups %}
        {% block atm_board_javascripts %}{% endblock atm_board_javascripts %}
    </body>
</html>