{% extends 'ATMBoardBundle:Board:base.html.twig' %}

{% block atm_board_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmboard/plugins/resumable/upload_form.css') }}">
{% endblock atm_board_stylesheets %}

{% block atm_board_headingJS %}
    <script>
        var upload_url = Routing.generate('atm_board_video_chunk_upload');
        var allowedFileExtensions = ["mp4","mov","avi"];
        var fix_permissions_url = Routing.generate('atm_board_video_permissions');
        var success_redirect_url = '';
    </script>
    <script src="{{ asset('bundles/atmboard/js/jquery-ui.min.1121.js') }}"></script>
    <script src="{{ asset('bundles/atmcomment/js/comments.js') }}"></script>
{% endblock atm_board_headingJS %}

{% block atm_flash_messages %}
    {% if app.session.flashBag.has('atm_board_not_allowed') %}
        {% for msg in app.session.flashBag.get('atm_board_not_allowed') %}
            <h2 class="flash_message"> {{ msg }}</h2>
        {% endfor %}
        <script>
            $('.flash_message').delay(3000).fadeOut(1000).remove();
        </script>
    {% endif %}
    {% if app.session.flashBag.has('atm_board_video_encoding') %}
        {% for msg in app.session.flashBag.get('atm_board_video_encoding') %}
            <h2 class="flash_message"> {{ msg }}</h2>
        {% endfor %}
        <script>
            $('.flash_message').delay(3000).fadeOut(1000).remove();
        </script>
    {% endif %}
{% endblock atm_flash_messages %}

{% block atm_board_content %}
<div class="quarter filters">
    <a href="{{ path('atm_board_timeline',{ 'usernameCanonical':profile.usernameCanonical}) }}">Show All</a>
    <a href="{{ path('atm_board_timeline',{ 'usernameCanonical':profile.usernameCanonical,'mediaType':'images' }) }}">Show Images</a>
    <a href="{{ path('atm_board_timeline',{ 'usernameCanonical':profile.usernameCanonical,'mediaType':'videos' }) }}">Show Videos</a>
    <a href="{{ path('atm_board_timeline',{ 'usernameCanonical':profile.usernameCanonical,'mediaType':'text' }) }}">Show Text</a>
    {% if app.user.id == board.user.id %}
        <a class="but blue" onclick="$('#popAcl').modal('show')">Manage users</a>
    {% endif %}
</div>
<div class="half board">
    <h1>
        {% if board.visibility == constant('ATM\\BoardBundle\\Entity\\Board::VISIBILITY_PRIVATE') %}
            <i class="fa fa-lock" title="Private Board" style="float: left;font-size: 20px;"></i>
        {% elseif board.visibility == constant('ATM\\BoardBundle\\Entity\\Board::VISIBILITY_SOLD') %}
            <span title="Sold Board" style="float: left;text-decoration: none;font-size: 13px;margin-top: 10px;"><i class="fa fa-money" style="margin-right: 6px;font-size:20px;vertical-align: middle;"></i>({{ board.price | number_format }})</span>
        {% endif %}
        <img src="{{ asset(board.thumbnail) }}">
        <span>{{ board.name | title }}</span>
        {% if app.user.id == board.user.id %}
            <a href="{{ path('atm_board_edit',{ 'boardId':board.id }) }}" title="Edit Board" style="display: inline-block;float: right;font-size: 20px;"><i class="fa fa-pencil-square"></i></a>
        {% endif %}
    </h1>
    {% if board.description %}
        <p class="board_description">{{ board.description }}</p>
    {% endif %}
    <div class="clear"></div>
    {% if app.user.id == board.user.id %}
    <div class="controls">
        <a class="upl_photo" title="Upload picture" onclick="$('#popUploadImage').modal({'backdrop':false}).modal('show')"><i class="fa fa-camera"></i></a>
        <a class="upl_video" title="Upload video" onclick="$('#popUploadVideo').modal({'backdrop':false}).modal('show')"><i class="fa fa-video-camera"></i></a>
        <a class="upl_text" title="Write Text" onclick="$('#popWriteText').modal({'backdrop':false}).modal('show')"><i class="fa fa-pencil-square"></i></a>
        <div class="clear"></div>
    </div>
    {% endif %}
    <div class="content posts">
        {{ render(controller('ATMBoardBundle:Board:search',{
            'params':{
                'board_id' : board.id,
                'date_range': {
                    'init_date': null,
                    'end_date' : 'now'|date('Y-m-d')
                },
                'pagination': true,
                'max_results': 10,
                'page': page,
                'content_type': mediaType,
                'show_pending_videos': app.user.id == board.user.id ? true : false
            }
        })) }}
    </div>
</div>
{% include 'XLabsLikeBundle:Like:loader.html.twig' %}
{% endblock atm_board_content %}

{% block atm_board_popups %}
    {% if app.user.id == board.user.id %}
        <div class="modal fade" id="popUploadImage" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="font-weight: bold;">Upload Image</h1>
                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form action="{{ path('atm_board_upload_image') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="boardId" value="{{ board.id }}">
                            <img src="{{ asset('bundles/atmboard/images/image-placeholder.png') }}" id="imgPreview">
                            <p class="error" id="extensionError" style="display: none">Allowed types of image are png, jpg, jpeg, gif</p>
                            <input type="file" name="flImage" id="flImage" required>
                            <textarea name="txDescription" placeholder="Write something here"></textarea>
                            <input type="submit" id="sbImage" style="display: none">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="but blue" onclick="$('.atm_board_loader').show();$('#sbImage').click();">Upload</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="popUploadVideo" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="font-weight: bold;">Upload Video</h1>
                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <fieldset class="wide uploader" style="padding:0" id="uplVideo">
                            <div id="resumable-drop" class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
                                Drop the video here to upload it or <a id="resumable-browse" class="resumable-browse"><u>select the video from your computer</u></a>
                                <div class="xlabs_warning">
                                    <i class="fa fa-warning"></i>
                                    Only 1 single file can be selected.
                                </div>
                            </div>
                            <div id="error-log" style="min-height: 15px; font-color: #990000;display:none">
                                Please choose a file
                            </div>
                            <div id="progressbar" class="progress">
                                <span class="green" style="width: 0;"><span>-</span></span>
                            </div>
                            <div class="xlabs_error" style="color: #ff0000; display: none;">
                                <i class="fa fa-warning"></i>
                                You must select a video file.
                            </div>
                        </fieldset>
                        <form action="{{ path('atm_board_upload_video') }}" method="post">
                            <input type="hidden" name="boardId" value="{{ board.id }}">
                            <textarea name="txDescription" placeholder="Write something here" required></textarea>
                            <input type="hidden" id="videoFilename" name="videoFilename">
                            <input type="submit" id="sbVideo" style="display: none">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="but blue" onclick="$('.atm_board_loader').show();$('#sbVideo').click();">Upload</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="popWriteText" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="font-weight: bold;">Write a text</h1>
                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </a>
                    </div>
                    <div class="modal-body">

                        <form action="{{ path('atm_board_create_text_post') }}" method="post">
                            <input type="hidden" name="boardId" value="{{ board.id }}">
                            <textarea name="txDescription" placeholder="Write something here" required></textarea>
                            <input type="submit" id="sbTextPost" style="display: none">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="but blue" onclick="$('.atm_board_loader').show();$('#sbTextPost').click();">Upload</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="popDeletePost" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="font-weight: bold;">Do you want to delete this post?</h1>
                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </a>
                    </div>
                    {% if isMMAdmin() %}
                        <div class="modal-body">
                            <textarea id="taDeleteReason" style="width: 100%;border: 1px solid #cecece;border-radius: 0;min-height: 100px;resize: vertical;" placeholder="Write a reason"></textarea>
                        </div>
                    {% endif %}
                    <div class="modal-footer">
                        <a class="but red" id="btnPopDeletePost">Delete</a>
                        <a class="but blue" data-dismiss="modal" aria-label="Close">Close</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="popAcl" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="font-weight: bold;">Manage User</h1>
                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </a>
                    </div>
                    <div class="modal-body" id="acl_container">
                        {{ render(controller('ATMBoardBundle:Board:getAclUsers',{
                            'boardId': board.id,
                            'page': 1
                        })) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="popDeleteAcl" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="font-weight: bold;">Do you want to deny the access to your board to that user?</h1>
                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </a>
                    </div>
                    <div class="modal-footer">
                        <a class="but red" id="btnPopDeleteAcl">Delete</a>
                        <a class="but blue" data-dismiss="modal" aria-label="Close">Close</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock atm_board_popups %}

{% block atm_board_javascripts %}
    <script src="{{ asset('bundles/atmboard/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmboard/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('bundles/atmboard/plugins/resumable/resumable.js') }}"></script>
    <script src="{{ asset('bundles/atmboard/plugins/resumable/upload.js') }}"></script>
    <script>
        {% if app.user.id == board.user.id %}
        $('#flImage').change(function(){

            var currentInput = $(this);
            var file = currentInput[0].files[0];
            var ext = $('#flImage').val().split('.').pop().toLowerCase();


            if($.inArray(ext, ['png','jpg','jpeg','gif']) != -1){
                var reader = new FileReader();
                reader.onload = function(e){
                    $('#imgPreview').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            }else{
                $('#extensionError').fadeIn(500).delay(5000).fadeOut(500);
            }
        });

        $('.posts').on('click','.post_menu_but',function(e){
            e.preventDefault();
            var menu = $(this).siblings('.post_menu');

            if($('.post_menu_visible').length > 0 && !menu.hasClass('post_menu_visible')){
                $('.post_menu_visible').removeClass('post_menu_visible').hide();
            }
            if(menu.is(':visible')){
                menu.removeClass('post_menu_visible').hide();
            }else{
                menu.addClass('post_menu_visible').show();
            }
        });

        $(document).click(function(e){
            var classes = ['post_menu_but','edit','delete'];

            if(classes.indexOf($(e.target).attr('class')) == -1){
                $('.post_menu_visible').hide().removeClass('post_menu_visible');
            }
        });

        $('.posts').on('click','.delete',function(e){
            var postId = $(this).attr('data-post-id');
            $('#btnPopDeletePost').attr('data-post-id',postId);
            $('#popDeletePost').modal('show');
        });

        $('#btnPopDeletePost').click(function(e){
            {% if isMMAdmin() %}
            var reason = $('#taDeleteReason').val();
            location.href = Routing.generate('atm_board_delete_post',{ 'postId':postId,'reason':reason });
            {% else %}
            location.href = Routing.generate('atm_board_delete_post',{ 'postId':postId });
            {% endif %}

        });

        $('.posts').on('click','.comments',function(e){
            var btn = $(this);
            var postId = btn.attr('data-post-id');
            var commentsContainer = $('#boardpost_'+postId);

            $.ajax({
                url: Routing.generate('atm_board_get_comments',{ 'postId':postId }),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    commentsContainer.html(data);
                }
            });
        });
        {% endif %}


        function processLike(btn,jsonResponse){
            var button = $(btn);
            var response = JSON.parse(jsonResponse);

            if(response.currentStatus == 1){
                button.addClass('liked');
            }else{
                button.removeClass('liked');
            }
        }

        $('#acl_container').on('click','.pageBtn',function(){
            var page = $(this).attr('data-page');

            $.ajax({
                url: Routing.generate('atm_board_acl_users',{ 'boardId':{{ board.id }},'page':page }),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    $('#acl_container').html(data);
                }
            });
        });

        $('#acl_container').on('click','.btnRemoveUser',function(){
            var aclId = $(this).attr('data-id');

            $('#btnPopDeleteAcl').attr('data-id',aclId);
            $('#popDeleteAcl').modal('show');
        });

        $('#btnPopDeleteAcl').click(function(){
             var aclId = $(this).attr('data-id');
             $.ajax({
                 url: Routing.generate('atm_board_remove_user_acl',{ 'aclId':aclId }),
                 type: 'post',
                 success: function(data){
                    $('#acl_row_'+aclId).remove();
                    $('#popDeleteAcl').modal('hide');
                 }
             })
        })
    </script>
{% endblock atm_board_javascripts %}

