{% extends 'ATMBoardBundle:Board:base.html.twig' %}

{% block atm_board_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmboard/plugins/resumable/upload_form.css') }}">
{% endblock atm_board_stylesheets %}

{% block atm_board_headingJS %}
<script>
    var upload_url = Routing.generate('atm_board_video_chunk_upload');
    var allowedFileExtensions = ["mp4","mov","avi"];
    var fix_permissions_url = Routing.generate('atm_board_video_permissions');
    var success_redirect_url = '';
</script>
{% endblock atm_board_headingJS %}

{% block atm_board_content %}
    <div class="wide board_users">
        <h1 style="float: none;width: 100%;margin-bottom:20px;font-size: 20px;text-decoration: underline;text-align: center;font-weight: bold">Create Video Post</h1>
        <div id="resumable-drop" class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
            Drop the video here to upload it or <a id="resumable-browse" class="resumable-browse"><u>select the video from your computer</u></a>
            <div class="xlabs_warning">
                <i class="fa fa-warning"></i>
                Only 1 single file can be selected.
            </div>
        </div>
        <div id="error-log" style="min-height: 15px; font-color: #990000;display:none">
            Please choose a file
        </div>
        <div id="progressbar" class="progress">
            <span class="green" style="width: 0;"><span>-</span></span>
        </div>
        <div class="xlabs_error" style="color: #ff0000; display: none;">
            <i class="fa fa-warning"></i>
            You must select a video file.
        </div>
        <form action="{{ path('atm_board_upload_video') }}" method="post">
            <input type="hidden" name="boardId" value="{{ boardId }}">
            <textarea name="txDescription" placeholder="Write something here" required></textarea>
            <input type="hidden" id="videoFilename" name="videoFilename">
            <input type="submit" id="sbVideo" style="display: none">
        </form>
        <a class="but blue" onclick="$('.atm_board_loader').show();$('#sbVideo').click();">Upload</a>
    </div>
{% endblock atm_board_content %}

{% block atm_board_javascripts %}
    <script src="{{ asset('bundles/atmboard/plugins/resumable/resumable.js') }}"></script>
    <script src="{{ asset('bundles/atmboard/plugins/resumable/upload.js') }}"></script>
{% endblock atm_board_javascripts %}