{% extends 'ATMBoardBundle:Board:base.html.twig' %}



{% block atm_board_content %}
    <div class="wide board_users">
        <h1 style="float: none;width: 100%;margin-bottom:20px;font-size: 20px;text-decoration: underline;text-align: center;font-weight: bold">Create Image Post</h1>
        <form action="{{ path('atm_board_upload_image') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="boardId" value="{{ boardId }}">
            <img src="{{ asset('bundles/atmboard/images/image-placeholder.png') }}" id="imgPreview">
            <p class="error" id="extensionError" style="display: none">Allowed types of image are png, jpg, jpeg, gif</p>
            <input type="file" name="flImage" id="flImage" required>
            <textarea name="txDescription" placeholder="Write something here"></textarea>
            <input type="submit" id="sbImage" style="display: none">
        </form>
        <a class="but blue" onclick="$('.atm_board_loader').show();$('#sbImage').click();">Upload</a>
    </div>
{% endblock atm_board_content %}

{% block atm_board_javascripts %}
    <script>
        $('#flImage').change(function(){

            var currentInput = $(this);
            var file = currentInput[0].files[0];
            var ext = $('#flImage').val().split('.').pop().toLowerCase();


            if($.inArray(ext, ['png','jpg','jpeg','gif']) != -1){
                var reader = new FileReader();
                reader.onload = function(e){
                    $('#imgPreview').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            }else{
                $('#extensionError').fadeIn(500).delay(5000).fadeOut(500);
            }
        });
    </script>
{% endblock atm_board_javascripts %}