{% for post in posts %}
    {% include'ATMBoardBundle:Board:item/post.html.twig' with { 'post':post } %}
{% else %}
    <p style="width: 100%;text-align: center;margin-top: 30px;">No posts found</p>
{% endfor %}

{% if pagination %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}