{% extends 'ATMBoardBundle:Board:base.html.twig' %}


{% block atm_board_content %}
    <div class="popup_post">

        <div class="popup_post_main">
            {% if post.video %}
                <video controls poster="{{ post.video.thumbnail ? asset(post.video.thumbnail) : asset('bundles/atmboard/images/image-placeholder.png') }}">
                    <source src="{{ asset(post.video.video) }}" type="video/mp4">
                </video>
            {% else %}
                <img src="{{ asset(image.image) }}" alt="" >
            {% endif %}
        </div>

        <div class="popup_post_right board">
            {# Author START #}
            <div class="post">
                {% set user = post.board.user %}
                <a class="userAvatar" href="" title="{{ user.username }}">
                    {% if user.avatar %}
                        <img src="https://cdn.static.3tech.xyz/media/bikinifanatics/ibismiles7155868085/e09439c8e9807b2737a3fdd70660debc.jpg" alt="IbiSmiles">
                    {% endif %}
                </a>
                <div class="post_header">
                    {% if app.user.id == post.board.user.id %}
                        <a class="post_menu_but"></a>
                        <div class="post_menu">
                            <ul>
                                <li class="delete" data-post-id="{{ post.id }}" onclick="$('#popDeletePost').modal('show')">Delete</li>
                            </ul>
                        </div>
                    {% endif %}
                    <a class="userName" href="" title="{{ user.username }}">{{ user.username }}</a>
                    {% if post.description %}
                        <p class="post_description">
                            My ass is the best in the world. Come and fuck me really hard, I want to be your bitch!
                        </p>
                    {% endif %}
                    <span>{{ post.creation_date | date('H:i m d, Y') }}</span>
                </div>
            </div>

            <ul class="post_buttons">
                <li><a class="comments" data-post-id="4"><i class="far fa-comment"></i><i class="fa fa-comment"></i><span>15 Comments</span></a></li>
                <li><a class="likes " data-xlabs-like="boardpost, 4" data-xlabs-callback="processLike" data-post-id="4"><i class="far fa-heart"></i><i class="fa fa-heart"></i><span class="totalLikes_4">76 Likes</span></a></li>
            </ul>
            <div class="clear"></div>
            {# Author END #}

            {# Comments START #}
            {% include 'ATMCommentBundle:Thread:async.html.twig' with {'id': 'boardpost_' ~ post.id,'container_id': 'boardpost_' ~ post.Id, 'max_results': 10000} %}
            {# Comments END #}
        </div>

    </div>
{% endblock atm_board_content %}