{% for post in posts %}
    <li class="_post_link" data-post-id="{{ post.id }}" style="cursor:pointer">
        <span>{{ post.title }}</span>
        {{ post.content_type == constant('MM\\MediaBundle\\Entity\\Post::CONTENT_TYPE_VIDEO') ? '<i class="fa fa-play-circle"></i>' : '<i class="fas fa-camera"></i>' }}
    </li>
{% endfor %}
