<tr>
    <td>
        {{ user.username }}
    </td>
    <td>
        {% if user.board %}
            <a href="{{ path('atm_board_timeline',{ 'userId':user.id }) }}" target="_blank"><i class="fa fa-calendar-o"></i></a>
        {% endif %}
    </td>
</tr>