<div class="post">
    <span class="date">Posted: {{ post.creation_date | date('d-m-Y H:i:s') }}</span>
    {% if app.user.id == post.board.user.id %}
        <a class="post_menu_but">···</a>
        <div class="post_menu">
            <ul>
                <li class="delete" data-post-id="{{ post.id }}" onclick="$('#popDeletePost').modal('show')">Delete</li>
            </ul>
        </div>
    {% endif %}
    {% set onlyText = true %}
    {% if post.video %}
        {% include 'ATMBoardBundle:Board:item/video.html.twig' with { 'video' : post.video,'postId':post.id } %}
        {% set onlyText = false %}
    {% elseif post.image %}
        {% include 'ATMBoardBundle:Board:item/image.html.twig' with { 'image' : post.image,'postId':post.id } %}
        {% set onlyText = false %}
    {% endif %}

    {% if not onlyText %}
        {% include 'ATMBoardBundle:Board/item:post_buttons.html.twig' with { 'post':post } %}
    {% endif %}

    {% if post.description %}
        <p>{{ post.description }}</p>
        {% if onlyText %}
            {% include 'ATMBoardBundle:Board/item:post_buttons.html.twig' with { 'post':post } %}
        {% endif %}
    {% endif %}
    <div id="boardpost_{{ post.id }}" atm-thread-id="boardpost_{{ post.id }}"></div>
    <div class="clear"></div>
</div>