<div class="buttons">
    {% set userLikesPost = checkLike('boardpost', post.id, app.user.id) %}
    <a class="likes {{ userLikesPost ? 'liked' }}" data-xlabs-like="boardpost, {{ post.id }}" data-xlabs-callback="processLike"><i class="fa fa-heart"></i></a>
    <a class="comments" data-post-id="{{ post.id }}">
        <em class="total_comments">{{ getATMTotalComments('boardpost_' ~ post.id ) }}</em>
        <i class="fa fa-comment"></i>
    </a>
    <div class="clear"></div>
</div>