{% if video.isEncoded %}
<video controls poster="{{ video.thumbnail ? asset(video.thumbnail) : asset('bundles/atmboard/images/image-placeholder.png') }}">
    <source src="{{ asset(video.video) }}" type="video/mp4">
</video>
{% else %}
<div class="encoding">
    <h2>Your video is being encoded</h2>
</div>
{% endif %}