*{margin:0;padding:0}
html,body{height:100%}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none}
body{font:15px/24px Quicksand, sans-serif;color:#000;background:#f9f6f6;cursor:default;text-align:center}
body.newTour,textarea,input[type='text']{font:15px/24px "Quicksand", sans-serif;border: 1px solid #cecece;border-radius: 5px;padding: 5px;}
body.white{background:#FFF}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal}
table,td,th{vertical-align:middle}
blockquote::before,blockquote::after,q::before,q::after{content:""}
blockquote,q{quotes:"" ""}
a img, button{outline:none;border:0;background:none}
a{outline:0 none;text-decoration:none;color:#000}
a *{cursor:pointer}
a:focus,a:hover{text-decoration:none;outline:0 none;cursor:pointer}
.clear{clear:both}
.over{overflow:hidden;height:0}
ul,li,ol,li,b,img,p,a,h1,h2,h3,h4,h5{float:left;display:inline-block;text-align:left}
input,textarea{display:inline-block;text-align:left}
[data-sr]{visibility:hidden}
.fa-heart, .red{color:#ff558f}
*, *::after, *::before, *:hover{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
select{-webkit-appearance:none;-moz-appearance:none;text-overflow:'';text-indent:1px}
.sorting select::-ms-expand{display:none}
.sorting select{-webkit-appearance:none;-moz-appearance:none;text-overflow:'';text-indent:1px}
.small{font-size:0.8rem !important}
.right{float:right}
.left{float:left}
.center{text-align:center}
.x2{font-size:1.3rem}
.x3{font-size:2.5rem}
.flex{display:flex;align-items:center;justify-content:space-between}
.b{font-family:QuicksandBold, Arial, sans-serif}
.latobold{font-family:LatoBold, Arial, sans-serif}

canvas {display: block;position: fixed;z-index: 1;pointer-events: none;top:0;left:0}

.selectC{position:relative;display:inline-block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;border:1px solid #ccc;width:auto;font:500 12px/22px Open Sans, Arial, sans-serif;cursor:pointer;position:relative}
.selectC select{display:inline-block;border:0;background:none;color:#000;padding:6px 37px 7px 8px;z-index:2;position:relative;font-size:12px;cursor:pointer;line-height:14px;white-space:nowrap;font-family:"Quicksand", "Open Sans", sans-serif}
.selectC::before{z-index:1;content:"";width:25px;height:27px;position:absolute;right:0;top:0;background:url(../images/caret_down.svg) no-repeat center center;border-left:1px solid rgba(0, 0, 0, 0.31);background-size:12px}

.content        {width:100%;max-width:1300px;min-height:100%}
.wide 	        {width:100%}
.narrow	        {width:95%;max-width:1000px;margin:0 auto}
.half           {width:50%;float:left}
.threequarter   {width:75%;float:left}
.quarter        {width:25%;float:left}
.third			{width:33.33%;float:left}
.twothird		{width:66.66%;float:left}
.smallfifth     {width:20%;float:left}
.longfifth      {width:80%;float:left}
.fifth			{width:20%;float:left}

a.but, input.but{background: #e8e8e8;padding: 6px 10px;border-radius: 7px;color: #000;border-bottom: 1px solid rgba(0, 0, 0, 0.2);font-size: 1rem;cursor: pointer}
a.but.blue, input.but.blue{background:#2196f3;color:#FFF}
input.but.red, a.but.red{background: #ff390d !important;color:#FFF}
a.but.following{border:2px solid #ff558f;background:none;color:#ff558f;font-size:13px}
a.but.following:hover{background:#ff558f;color:#FFF}
.but.dark{background:#777 !important}
.but.dark:hover{background:#777676}
a.but.inactive{background: #a9a9a9;border: 0;color: #000}


.inner {float:none;width:100%;margin: 0 auto 0;position:relative;display:inline-block;padding: 0;z-index: 1;max-width: 1100px}

.datePicker{background:#e2e2e2;float:left;margin: 0 0 20px;border: 1px solid #b3a5a5;}
.datePicker>.half{margin:20px 0;padding:20px 0}
.datePicker>.half:last-child{border-left:2px solid #8e8e8e}
.datePicker .selectC{background:#f7f5f3}
.datePicker .selectC:hover{background:#FFF}
.butPeriod{background:#f7f5f3;border:1px solid #d0d0d0;padding:3px 10px;border-radius:5px;margin:0 1%;float:none;display:inline-block}
.butPeriod:hover{background:#FFF}
.butPeriod.active{background:#333;color:#FFF}
.centerBut a{float:none;margin:14px 0 0;font-size:14px;border:1px solid #bbb;color:#333;padding:1px 10px 0}
.centerBut a:hover{background:#FFF}
h2.block_title{margin:0 0 11px;padding:3px 7px;font:17px/19px 'QuicksandBold', sans-serif;float: left;width: 100%;}
.statsTitle{border-bottom:2px solid #333}
.statsTitle em{font-family:"Quicksand", "Open Sans", sans-serif}
.statsTitle>div:first-child{border-right:1px solid #ccc;float:left;padding:0 15px 0 0;margin:0 15px 10px 0}
.statsTitle>div{float:left}
.statsTitle>.right{font-size:18px;position:relative;bottom:0;margin-top:20px}
h2.block_title span{padding:0 7px;color:#000000;text-transform:capitalize}
.usersSelect{}
.usersSelect span{}

/*Navigation*/
.navigation{float:left;margin:20px 0 0;width:100%;text-align:center}
.thumbs .navigation{width:100%;margin:0}
.pagination{display:inline-block;text-align:center;margin:0 auto}
.pagination span{float:left;display:inline-block;font:14px/33px "Quicksand",serif;margin:0 4px 0 0;overflow:hidden;border-radius :6px;border:1px solid #ccc;padding:0;width:35px;text-align:center}
.pagination span.last a{padding:0 10px}
.pagination span a{color:#000;padding:0;background:#f7f5f3;width:100%;text-align:center;float:left}
.pagination span a:hover{color:#000032;background:#ffffff}
.pagination span a.highlight, .pagination span a.highlight:hover, .pagination span.current{color:#000000;cursor:default;background:rgb(196, 229, 255)}

/* Loader */
.atm_board_loader{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: rgba(0, 0, 0, 0.53);z-index: 1200;}
.atm_board_loader img{position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);}

.atm_board .filters{background-color: #9dddf966;padding: 10px;display: inline-block;float: none;border: 1px solid #c3c3c3;position: fixed;z-index: 1;left: 380px;top: 10px;width: 15%;}
.atm_board .filters a{float: none;width: 100%;display: inline-block;font-weight: bold}
.atm_board .board{background-color: #9dddf966;padding: 10px;display: inline-block;margin: 10px auto 0;float: none;border: 1px solid #c3c3c3;position: relative;z-index: 1;}
.atm_board .board h1{width: 100%;text-align: center;margin-bottom: 10px;}
.atm_board .board h1 span{position: relative;bottom: 13px;text-decoration: underline;font-weight: bold;font-size: 20px;}
.atm_board .board h1 img{width: 50px;height: 50px;border-radius: 100px;float: none;margin-right: 10px;}
.atm_board .board .board_description{margin-bottom: 30px;width: 100%;}
.atm_board .board .controls{width: auto;float: none;display: inline-block;margin: 0 auto;position: relative;}
.atm_board .board .controls a{display: inline-block;padding: 10px;font-size: 25px;color: #fff;background-color: #000;border-radius: 100px;}
.atm_board .board .controls a.upl_photo{}
.atm_board .board .controls a.upl_video{margin: 0 20px}
.atm_board .board .controls a.upl_text{}

.atm_board #popUploadImage img{display: inline-block;margin: 0 auto;float: none;margin-bottom: 20px;width: 100%}
.atm_board #popUploadImage input[type="file"]{display: inline-block;float: none;margin: 0;}
.atm_board #popUploadImage textarea,.atm_board #popUploadVideo textarea,.atm_board #popWriteText textarea{width:100%;margin-top:20px;resize:vertical;padding:10px;min-height: 100px;}

.atm_board .board .content{}
.atm_board .board .content .post{margin: 20px 0;border: 1px solid #ccc;padding: 10px;position: relative;background-color: #fff;}
.atm_board .board .content .post .date{width: auto;text-align: left;display: inline-block;float: left;}
.atm_board .board .content .post .post_menu_but{font-weight: bold;font-size: 30px;float: right;}
.atm_board .board .content .post .post_menu{position: absolute;background-color: #fff;padding: 10px;right: -40px;top: 40px;border: 1px solid #366fe0;border-radius: 5px;display: none;z-index: 10;}
.atm_board .board .content .post .post_menu:before{content: "";position: absolute;width: 12px;height: 7px;left: calc(50% - 28px);top: -7px;background-image: url(../images//menu_arrow_up.png);background-size: 12px 7px;background-repeat: no-repeat;}
.atm_board .board .content .post .post_menu ul li{float: none;width: 100%;text-align: center;border-bottom: 1px solid #cecece;cursor:pointer}
.atm_board .board .content .post .post_menu .edit{margin-bottom: 5px;color: #366fe0;}
.atm_board .board .content .post .post_menu .delete{border: 0;color: #f00;}
.atm_board .board .content .post video{width: 100%;margin-top: 10px;}
.atm_board .board .content .post .image_link{display: inline-block;float: none;width: 100%;margin-top: 10px;}
.atm_board .board .content .post .image_link img{width: 100%;}
.atm_board .board .content .post .buttons{float: right;margin-bottom: 10px;width: 100%;border-top: 1px solid #cacaca;padding: 5px 10px 10px 0;border-bottom: 1px solid #cacaca;}
.atm_board .board .content .post .buttons a{display: inline-block;font-size: 20px;margin-left: 15px;float: right;color: #000;}
.atm_board .board .content .post .buttons .comments{}
.atm_board .board .content .post .buttons .comments em{font-size: 15px;vertical-align: bottom;margin-right: 5px;}
.atm_board .board .content .post .buttons .likes{}
.atm_board .board .content .post .buttons .likes.liked i{color: #ff558f}
.atm_board .board .content .post .buttons .likes i{color:#000}
.atm_board .board .content .post p{width: 100%;display: inline-block;margin-bottom: 20px;}

.atm_board .board_users{background-color: #fff;border: 1px solid #cecece;padding: 10px;float: none;margin: 10px auto;}
.atm_board .board_users .controls{margin-bottom: 20px;}
.atm_board .board_users .controls input{padding: 5px;border-radius: 5px;border: 1px solid #a29d9d;}
.atm_board .board_users .controls a{float: none;}
.atm_board .board_users table{width: 100%;border: 1px solid #cecece;}
.atm_board .board_users table thead{background-color: #f1f1f1;}
.atm_board .board_users table tr th{border-bottom: 1px solid #cecece;text-align: center;padding: 10px;font-weight: bold;}
.atm_board .board_users table tbody tr{}
.atm_board .board_users table tbody tr:nth-child(2n){background-color: #cecece40;}
.atm_board .board_users table tbody tr td{text-align: center;padding: 5px;}
.atm_board .board_users table tbody tr td a{display: inline-block;width: 100%;font-size: 20px;text-align: center;}

.atm_board .board_users #frmNewBoard input[type="text"]{width: 100%;}
.atm_board .board_users #frmNewBoard textarea{width: 100%;margin-top: 20px;min-height: 100px;resize: vertical;}

#acl_container{}
#acl_container table{padding: 10px;width: 100%;}
#acl_container table tr:nth-child(2n){background-color: #cecece87;}
#acl_container table tr td:first-child{width: 50%;}
#acl_container table tr td:nth-child(2n){width: 40%;}
#acl_container table tr td:nth-child(3){width:10%;}
#acl_container table tr td{padding: 10px;text-align: center;}
#acl_container table tr td a{display: inline-block;float: none;text-align: center;}

.modal{background:rgba(0,0,0,.8)}

.popup_post{background:rgba(0,0,0,.9);position:fixed;top:0;left:0;z-index:999999;width:100%;height:100%;display:flex/*;display:none*/}
.popup_post_main{float:left;display:inline-block;width:100%;text-align:center;vertical-align:middle}
.popup_post_main img{float:none;display:inline-block;max-width:90%;max-height:90%;margin:0 auto}

.popup_post_right{float:left;display:inline-block;width:600px;background:#fff;overflow-y:scroll}

.popup_post_right.board .post{padding:20px 10px 10px 20px;background:none!important}
.popup_post_right.board .post .post_header .post_description{font:20px/26px "Quicksand", "Open Sans", sans-serif}
.popup_post_right.board ul.post_buttons{width:100%;padding:5px 0 0;border-bottom:1px solid #e6ebf2}
.popup_post_right.board ul.post_buttons li a{float:none}
.popup_post_right.board ul.post_buttons li a i, .popup_post_right.board ul.post_buttons li a span{color:#657786}

.popup_post_right .atm_comment_comment_show{padding:0 10px 10px 20px;margin:10px 0 0}
.popup_post_right .atm_comment_comment_replies .atm_comment_comment_show{padding:0;margin:0 0 10px}